<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>File Metadata</h2>
        <h3>Welcome to the file metadata microservice!</h3>
        <p>
           The file metadata microservice allows you to know information about the file that you upload thought our form.
        </p>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>Coded and designed by Sergio Barbosa</p>
      </div>
   </body>


</html>
